/*  ===============
	General Webpage 
	=============== */
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	color: white;
	hyphens: auto;
	text-align: center;
	align-items: center;
	word-spacing: 0.01em;
	letter-spacing: normal;
	justify-content: center;
	background-color: #353535;
	font-family: Verdana, sans-serif;
}

/*  ==================
	Divider and Header
	================== */
.Divider {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #9a4dff;
	font-size: 27px;
	padding-bottom: 60px;
	justify-content: flex-start;
}
.Divider hr {
	flex: 1;
	border: none;
	height: 2px; 
	border-radius: 10px;
	background-color: #9a4dff;
}

/*  =================
	Main Body Content
	================= */
.MainBodyContent {
	padding-left: 30%;
	padding-right: 30%;
}

/*  =========================
	Video Demo & Project Info
	========================= */
.VideoWrapper {
	position: relative;
}
.VideoDemo {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 10px;
}
.ProjectTitle {
	bottom: 0;
	width: 100%;
	position: absolute;
	color: #9a4dff;

	gap: 1.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 0px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.6);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ProjectTitle hr {
	flex: 1;
	border: none;
	height: 2px;
	border-radius: 10px;
	background-color: #9a4dff;
}
.ProjectInfo {
	background-color: #1e1e1e;
	color: #fff;
	padding: 20px 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	max-width: 960px;
	margin-top: 40px;
	font-size: 1rem;
}

/*  ===============
	Concept Section
	=============== */

/*  =============
	Recap Section
	============= */

/*  ============== 
	Footer Section 
	============== */
.Footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #202020;
}