/*  ===============
	General Webpage 
	=============== */
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	color: white;
	hyphens: auto;
	text-align: center;
	align-items: center;
	word-spacing: 0.01em;
	letter-spacing: normal;
	justify-content: center;
	background-color: #353535;
	font-family: Verdana, sans-serif;
}

/*  =================
	Main Body Content
	================= */
.MainBodyContent {
	padding: 0 30%;
}

/*  ==========
	Video Demo
	========== */
.VideoWrapper {
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.VideoDemo {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.ProjectTitle {
	bottom: 0;
	width: 100%;
	position: absolute;
	color: #0066ff;

	gap: 1.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 0px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.6);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.ProjectTitle hr {
	flex: 1;
	border: none;
	height: 2px;
	border-radius: 10px;
	background-color: #0066ff;
}

/*  ================
	Project Info Box
	================ */
.ProjectInfoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
	margin-top: 10px;
}
.ProjectInfoBox {
	flex: 1;
	max-width: 800px;
	padding: 5px 25px;
	border-radius: 10px;
	background-color: #454545;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);

	color: #fff;
	font-size: 1rem;
	text-align: left;
}
.InfoHeader {
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: #9a4dff;
}
.InfoItem {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.Icons {
	width: 45px;
	height: 45px;
	margin-right: 10px;
	flex-shrink: 0;
}
.InfoItem p {
	white-space: nowrap;
	margin: 0;
	font-size: 1.25rem;
	padding-bottom: 7px;
}

/*  ==================
	Divider and Header
	================== */
.Divider {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #0066ff;
	font-size: 27px;
	padding-bottom: 10px;
	justify-content: flex-start;
}
.Divider hr {
	flex: 1;
	border: none;
	height: 2px;
	border-radius: 10px;
	background-color: #0066ff;
}

/*  ============ 
	Text Section 
	============ */
.ProjectDetails {
	padding-top: 20px;
	padding-bottom: 60px;

	line-height: 1.5em;
	text-align: justify;
	flex-direction: column;
	justify-content: flex-start;
}

/*  ============== 
	Footer Section 
	============== */
.Footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #202020;
}

/*  ==================== 
	Responsive Portfolio 
	==================== */
@media screen and (max-width: 800px) {
	.MainBodyContent {
		padding: 0 0;
	}
	.ProjectInfoContainer {
		flex-direction: column;
		gap: 1rem;
	}
	.ProjectInfoBox {
		max-width: 100%;
	}
}