html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	word-spacing: 0.01em;
	letter-spacing: normal;
	background-color: #ffe6ff;
	background-image: url("../Images/ValentinesBackground.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	font-family: Verdana, sans-serif;
}

canvas {
	top: 0;
	left: 0;
	display: block;
}